.Image {
    background-image: url(https://api.zaatarwzeit.net/content/uploads/styling/zaatarwzeit-delivery-feb.jpg);
    width: 100%;
    position: relative;
    height: 546px;
    background-position: center;
    background-size: cover;
}
.Title{
    height: 546px;
    position: relative;
    -webkit-box-flex: 1;
    -khtml-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.Title_wrapper {
    position: relative;
    height: auto;
    z-index: 2;
}
.Title_text {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #fff;
    line-height: 42px;
    text-align: center;
    padding-top: 62px;
}
.Title_text:hover {
    cursor: default;
}
.Title_textWithLines{
    margin-top: 19px;
    width: auto;
    position: relative;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    height: 20px;
    z-index: 2;
}
.Title_textWithLines:hover {
    cursor: default;
}
.Title_textWithLines_text {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 96px;
    width: auto;
    padding-right: 96px;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 1px 1px 4px rgb(0 0 0 0)
}

.line {
    position: absolute;
    height: 1px;
    width: 74px;
    top: 11px;
    background-color: #FFFFFF;
}
.left {
    left: 0px;
}
.right {
    right: 0px;
}
