footer {
    position: absolute;
    left: 0;
    min-height: 393px;
    width: 100%;
    background-color: #464642;
    z-index: 2;
}
.TopFooter {
    min-height: 344px;
    position: relative;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 30px;
}
.Footer_wrapper {
    max-width: 1270px;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
}
.Footer_row {
    display: flex;
}
.Footer_column {
    width: 22% !important
}
.Footer_column_links li {
    position: relative;
    width: 100%;
    margin-bottom: 11px;
    height: 13px;
    list-style: none;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -khtml-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    font-family: futura_medium_bt;
    font-size: 14px;
    color: #DDDDDD;
    font-style: italic;
    text-transform: lowercase !important;
    opacity: 0.7;
}
.Footer_column_title {
    position: relative;
    margin-bottom: 21px;
    font-family: futura_medium_bt;
    font-size: 16px;
    color: #DDDDDD;
}
.Footer_column_title:hover {
    cursor: default;
}
.googleApp {
    background-image: url(./GooglePlay.png);
    position: relative;
    display: block;
    height: 50px;
    width: 170px;
    background-size: 100%;
}
.google-play {
    margin-bottom: 8px !important;
    height: 50px !important;
}
.appStore {
    margin-bottom: 8px !important;
    height: 50px !important;
}
.AppstoreApp {
    background-image: url(./AppStore.png);
    position: relative;
    display: block;
    height: 50px;
    width: 170px;
    background-size: 100%;
}